<ion-view title="">
  <style>
    ion-header-bar{
        display:none !important;
    }
  </style>
  <ion-nav-title class="" style="background: #000">
    <div class="layout__header" >
        <div class="navigation-bar  navigation-bar--static navigation-bar--no-background" style="background: none">
            <div class="navigation-bar__primary" style="margin-left: -10px;">
            </div>
            <div class="navigation-bar__main" style="margin-top: -8px;">
                <div class="navigation-bar__logo">
                    <span class="comforta ng-binding" style="color: #fff">{{alang[261].text}}</span>
                </div>
            </div>
            <div class="navigation-bar__secondary" style="margin-right: 20px;">
                <div class="navigation-bar__icon js-goto" ng-click="goTo('home.settings');">
                    <div class="icon vivify" data-qa="icon">
                        <svg class="icon__content icon__content--inactive">
    <svg viewBox="0 0 64 64" id="navigation-bar-filter" width="100%" height="100%"><path d="M55.04 37.21V5.12a1.28 1.28 0 1 0-2.56 0v32.1a8.96 8.96 0 0 0 0 17.73v3.93a1.28 1.28 0 0 0 2.56 0v-3.93a8.96 8.96 0 0 0 0-17.74zM33.28 10.33v-5.2a1.28 1.28 0 1 0-2.56 0v5.2a8.96 8.96 0 0 0 0 17.74v30.8a1.28 1.28 0 0 0 2.56 0v-30.8a8.96 8.96 0 0 0 0-17.74zm-21.76 19.2V5.13a1.28 1.28 0 1 0-2.56 0v24.4a8.96 8.96 0 0 0 0 17.74v11.6a1.28 1.28 0 0 0 2.56 0v-11.6a8.96 8.96 0 0 0 0-17.74zm42.24 22.95a6.4 6.4 0 1 0 0-12.8 6.4 6.4 0 0 0 0 12.8zM32 25.6a6.4 6.4 0 1 0 0-12.8 6.4 6.4 0 0 0 0 12.8zM10.24 44.8a6.4 6.4 0 1 0 0-12.8 6.4 6.4 0 0 0 0 12.8z" fill-rule="evenodd"></path></svg>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </ion-nav-title>
<ion-content style="background:#fff;margin-top: -45px;" scroll="false" >

<div class="page-container" style="background: #fff">
    
    <div class="contact-list-search" style="margin-top: 0px;pointer-events: auto!important;"><i class="icon-svg contact-list-search__icon ion-ios-search-strong comforta" style="font-size: 19px"></i>
        <input type="text" 
        class="font-base2 contact-list-search__input comforta loc" id="loc" 
        focus-me="focusInput"/>
        <span class="font-base2 contact-list-search__cancel">{{alang[2].text}}</span>
    </div>

</div>
</ion-content>
