<style>
  ion-header-bar{
    background: none !important;
    pointer-events: none!important;
  }
</style>
<ion-view title="" hide-nav-bar="true">
  <div style="position: absolute;top: 0;right: 10px;z-index: 99!important" ng-show="showChangeLanguage">
    <center><button  class="button button-block button--primary comforta" style="color:#fff;min-height:15px!important;height:25px;line-height:15px;font-size:12px;background: rgba(0,0,0,.5)!important" ng-click="openLanguagesModal('Visitor')" data-alid="275"></button></center>
  </div>  
  <div class="wrapper" fit vertical layout justified>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="activeIndex" ng-init="activeIndex = 0" class="m-t">
      <ion-slide class="text-center flex-vertical-center" ng-repeat="i in [1,2,3]">
		<div class="text-center text-muted text-intro">
			<span ng-show="i == 1">{{lang19}}</span>
			<span ng-show="i == 2">{{lang20}}</span>
			<span ng-show="i == 3">{{lang21}}</span>			
		</div>	  
        <img  ng-src="{{site_url}}app/img/intro_{{i}}.jpg" alt="">
      <div class="text-center text-muted comforta">
        <h3 class="comforta" ng-show="i == 1">{{slideTitleLang1}}</h3>
        <span class="comforta" ng-show="i == 1">{{slideLang1}}</span>
        <h3 class="comforta" ng-show="i == 2">{{slideTitleLang2}}</h3>
        <span class="comforta" ng-show="i == 2">{{slideLang2}}</span>
        <h3 class="comforta" ng-show="i == 3">{{slideTitleLang3}}</h3>
        <span class="comforta" ng-show="i == 3">{{slideLang3}}</span>                
      </div>        
      </ion-slide>
    </ion-slide-box>  

    <div class="text-center text-muted comforta" style="background: none">
		<span></span>
		<center><button class="button button-block button--primary comforta" style="color:#fff;background: #000" ng-click="goTo('home.welcome','right','')" data-alid="23"></button></center>
    </div>
  </div>
</ion-view>	
