<div class="modal" style="background: none;pointer-events: auto!important;">
	<div class="contact-list-search" style="margin-top: 0px;pointer-events: auto!important;"><i class="icon-svg contact-list-search__icon ion-ios-search-strong comforta" style="font-size: 19px"></i>
	    <input type="search" placeholder="{{me.city}}" ng-model="myInput" focus-me="true" id="loc" 
	    class="font-base2 contact-list-search__input comforta" auto-focus="true"/>
	    <span class="font-base2 contact-list-search__cancel" ng-click="closeChangeLocModal()">{{alang[266].text}}</span>
	</div>
</div>
