<ion-view title="Belloo">
  <ion-nav-title>
  </ion-nav-title>
<ion-content ng-style="{height: iframeHeight + 'px'}" scroll="true"> 
  <div class="wrapper" fit vertical layout justified>
    <div class="text-center text-muted">
	    <div class="contact-list__loader_inline" style="margin-top: 240px;"  >
	        <div class="loader small grey centered ">
	            <div class="first dot"></div>
	            <div class="second dot"></div>
	            <div class="third dot"></div>
	        </div>
	    </div>
    </div>
  </div>
</ion-content>
</ion-view>