<ion-modal-view>
  <ion-header-bar style="background:#fff">
    <button class="button button-clear comforta" ng-if="!loading" style="font-size:14px" ng-click="closeAdModal()"><center><i class="icon"><svg viewBox="0 0 64 64" id="navigation-bar-close" width="100%" height="100%"><path d="M8.68 10.49l44.83 44.83a1.28 1.28 0 0 0 1.81-1.81L10.49 8.68a1.28 1.28 0 0 0-1.81 1.81z"></path><path d="M53.44 8.75l-44.7 44.7a1.28 1.28 0 0 0 1.82 1.8l44.7-44.7a1.28 1.28 0 0 0-1.82-1.8z"></path></svg></i></center></button>
  </ion-header-bar> 
  <ion-content class="profile">    
<div class="layout layout--centered-content">
    <div class="layout__header">
        <div class="promo-upload-video">
            <div class="promo-upload-video__media">
                <div class="multimedia">
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <ins class="adsbygoogle"
                       style="display:inline-block;width:200px;height:200px"
                       data-ad-client="ca-pub-4088683558391542"
                       data-ad-slot="4639036754"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>                  
                </div>
            </div>
        </div>
    </div>
    <div class="layout__content layout__content--hpadded layout__content--vpadded">
        <div class="cta-box">
            <div class="cta-box__header cta-box__header--sm">Remove ads</div>
            <div class="cta-box__content">Premium users dont see advertise</div>
            <div class="cta-box__buttons">
                <div class="button-wrapper">
                    <div class="button-wrapper__item">
                        <button class="button button--add-photo   button--narrow bg-tinder" ng-click="openPremiumModal()" >
                            <div class="button__content">
                              <span class="button__text js-button-text" style="color: #fff">{{alang[76].text}}</span>
                            </div>
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </ion-content>
</ion-modal-view>
